.drop-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
}

.drop-button:hover {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
}

.drop-button:active {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
}

.drop-button:focus {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
}