main {
  background-color: azure;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 2% 5%;
  max-width: 500px;
  width: 100%;
}
