.dropdown-toggle::after {
  display: none !important;
}

.input-group-text {
  background-color: white;
  border: none;
}

.input-group {
  width: 25vmax;
}

.menu-icon {
  color: white !important;
  margin-left: 5px;
}

.user-button {
  margin: 0% 4vw 0% 8vw;
  border: 2px solid rgb(255 255 255);
  border-radius: 20rem;
}

input[type="search"] {
  background: white;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  border: none;
}

@media only screen and (width <= 479px) {
  .user-button {
    border: none !important;
  }
}
